h5{
    color:#4e4e4e;
    font-size: 50px;
    font-family:Edu NSW ACT Foundation;
   font-style:italic;
    text-align: 10px;
   position:relative;
   left:35%;
}
p.aboutus{
    
    position:relative;
    top:805px;
    text-align:center;
    font-size: 20px;
    line-height: 25px;
    border: solid;
} 

table{
    padding-left: 10%;
    border-spacing: 120px;
    position:absolute;top:-90px;
    font-size: 30px;
    color: #4e4e4e;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


span{
    padding-left: 1%;
    position:absolute;top:-10px;
     }
 div.border{
     background-color:#eee2cf;
     margin-top: -10px;
     height:90px;
     width:100vw ;
     margin-right: 200px;
     margin-left: -10px;}

body{
    background-color:#ececbc;
    background-size:cover;
    overflow-x: hidden;
    overflow-y: hidden;
    

}
div.photo{
    opacity: 90%;
    margin-top:0px;
   margin-left: -10px;
}
div.footer{
    background-color:#eee2cf;
margin-top: 750px;
height:100px;
width:100% ;
padding-left: 120px;
display:grid;
grid-template-columns: 31% 31% 31%;
grid-template-rows: 50% 50%;

padding-top: 0.5%;
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
}  
div.media{
display:flex;
flex-direction: row;
gap:2%;
align-items: center;
} 
.apropos {
background-color: #eee2cf;
border: none;

color:#4e4e4e;
text-decoration: none;
display: inline-block;
font-size: 28px;
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
cursor: pointer;
}
.contact {
background-color: #eee2cf;
border: none;
color:#4e4e4e ;

text-decoration: none;
display: inline-block;

font-size: 28px;
color: #4e4e4e;
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
cursor: pointer;
}
.container0{
    display:flex;
    flex-direction: row;
    gap: 100px;
    font-size: 28px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4e4e4e;
    padding-left: 13%;
    padding-top: 30px;
    
    
}

.mesimg{
    display:flex;
    


         
}

 .d1{
    width: 101vw;
    height: 89vh;
    overflow: hidden;
    margin-left: -2vw;
}


.parag2{
    width:50%;
    height: 70vh;
    border-radius: 10%;
    position: relative;
    top:-80VH;
    left:20%;
    
}


  
h1{
    font-size: 100px;
    color: #991b38;
}
.mot{
    position: relative;
    top:-8vh;
}

p {
    animation-duration: 10s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;

  }
@keyframes slidein {
    from {
      margin-left: 100%;
      margin-top: 1vh;
      
    }
  
    to {
      margin-left: 0%;
      width: 100%;
      margin-top: 1vh;

    }
    
  }


  